#signin{
    margin-left: 20px;
}
#head{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
}
a{
    font-size: medium;
}
li{
    margin-left: 10px;
    margin-right: 10px;
}
#logout{
    margin-left:20px;
}
img:hover{
    cursor: pointer;
}
